*{

margin: 0;
padding: 0;
box-sizing: border-box;

}

body {

    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url("./img/Untitled\ Project.jpg");
    background-size: cover;
    background-position: center

}

.inicio {

    width: 420px;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, .2);;
    border-radius: 15px;
    color: rgb(255, 255, 255);
    padding: 30px 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    backdrop-filter: blur(30px);


}
.inicio h1 {
    font-size: 36px;
    text-align: center;

}

.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;

}

.input-box input {

    width: 100%;
    height: 100%;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    outline: none;
    font-size: 16px;
    color: rgb(255, 255, 255);
    padding: 20px 45px 20px 20px;

}


.input-box input::placeholder {

    color: #ffffff;

}
.input-box i{

    position: absolute;
    right: 20px;
    font-size: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
  

}
.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;

}

.input-box input {

    width: 100%;
    height: 100%;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    outline: none;
    font-size: 16px;
    color: rgb(255, 255, 255);
    padding: 20px 45px 20px 20px;

}


.input-box input::placeholder {

    color: #ffffff;

}
.input-box i{

    position: absolute;
    right: 20px;
    font-size: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
  

}


.remember-forgot {

    display: flex;
    justify-content: space-between;
    margin: -15px 0 15px 0;
    



}
.remember-forgot label input {
    accent-color: #ffffff;
    margin-right: 5px;
    

}
.remember-forgot a {
    color: #ffffff;
    text-decoration: none;
    

}
.remember-forgot a:hover {
    text-decoration: underline;
    

}
.login {

    width: 100%;
    height: 50px;
    border: none;
    background-color: #fff;
    color: #000;
    font-size: 16px;
    border-radius: 25px;
    cursor: pointer;
    font-weight: 600;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    margin-top: 20px;


}
 .login:hover {

background-color: transparent;
border: 2px solid rgba(255, 255, 255, .2);
color: #fff;
transition: .3s;


 }
.registro {

    text-align: center;
    margin: 20px 0 0 0;
    font-size: 14px;
  

}
.registro a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;

}
.registro a:hover {
    text-decoration: underline;

}